USE [master]
GO
/****** Object:  Database [DevLearningHub]    Script Date: 6/9/2026 11:43:06 AM ******/
CREATE DATABASE [DevLearningHub]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DevLearningHub', FILENAME = N'D:\SQL\MSSQL16.SQLEXPRESS\MSSQL\DATA\DevLearningHub.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DevLearningHub_log', FILENAME = N'D:\SQL\MSSQL16.SQLEXPRESS\MSSQL\DATA\DevLearningHub_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DevLearningHub].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DevLearningHub]
GO
/****** Object:  Table [dbo].[audit_logs]    Script Date: 6/9/2026 11:43:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_logs](
	[id] [uniqueidentifier] NOT NULL,
	[actor_id] [uniqueidentifier] NOT NULL,
	[action] [nvarchar](100) NOT NULL,
	[target_type] [nvarchar](50) NULL,
	[target_id] [uniqueidentifier] NULL,
	[detail] [nvarchar](max) NULL,
	[ip_address] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_audit_logs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comments]    Script Date: 6/9/2026 11:43:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comments](
	[id] [uniqueidentifier] NOT NULL,
	[post_id] [uniqueidentifier] NOT NULL,
	[author_id] [uniqueidentifier] NOT NULL,
	[parent_id] [uniqueidentifier] NULL,
	[body_markdown] [nvarchar](max) NOT NULL,
	[upvotes] [int] NOT NULL,
	[downvotes] [int] NOT NULL,
	[is_accepted] [bit] NOT NULL,
	[is_hidden] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_comments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[moderation_logs]    Script Date: 6/9/2026 11:43:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[moderation_logs](
	[id] [uniqueidentifier] NOT NULL,
	[moderator_id] [uniqueidentifier] NOT NULL,
	[target_type] [nvarchar](10) NOT NULL,
	[target_id] [uniqueidentifier] NOT NULL,
	[action] [nvarchar](20) NOT NULL,
	[reason] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_moderation_logs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 6/9/2026 11:43:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[type] [nvarchar](20) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[ref_id] [uniqueidentifier] NULL,
	[ref_type] [nvarchar](20) NULL,
	[is_read] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_notifications] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 6/9/2026 11:43:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[module] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_permissions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[post_tags]    Script Date: 6/9/2026 11:43:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post_tags](
	[post_id] [uniqueidentifier] NOT NULL,
	[tag_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_post_tags] PRIMARY KEY CLUSTERED 
(
	[post_id] ASC,
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[posts]    Script Date: 6/9/2026 11:43:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posts](
	[id] [uniqueidentifier] NOT NULL,
	[author_id] [uniqueidentifier] NOT NULL,
	[title] [nvarchar](300) NOT NULL,
	[body_markdown] [nvarchar](max) NOT NULL,
	[image_url] [nvarchar](max) NULL,
	[upvotes] [int] NOT NULL,
	[downvotes] [int] NOT NULL,
	[view_count] [int] NOT NULL,
	[is_hidden] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[accepted_comment_id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_posts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[problem_tags]    Script Date: 6/9/2026 11:43:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[problem_tags](
	[problem_id] [uniqueidentifier] NOT NULL,
	[tag_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_problem_tags] PRIMARY KEY CLUSTERED 
(
	[problem_id] ASC,
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[problems]    Script Date: 6/9/2026 11:43:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[problems](
	[id] [uniqueidentifier] NOT NULL,
	[topic_id] [uniqueidentifier] NOT NULL,
	[created_by] [uniqueidentifier] NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[difficulty] [nvarchar](10) NOT NULL,
	[starter_code] [nvarchar](max) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_problems] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[programming_languages]    Script Date: 6/9/2026 11:43:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[programming_languages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[slug] [nvarchar](50) NOT NULL,
	[judge0_language_id] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_programming_languages] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[question_options]    Script Date: 6/9/2026 11:43:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[question_options](
	[id] [uniqueidentifier] NOT NULL,
	[question_id] [uniqueidentifier] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[is_correct] [bit] NOT NULL,
	[order_index] [tinyint] NOT NULL,
 CONSTRAINT [PK_question_options] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[questions]    Script Date: 6/9/2026 11:43:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[questions](
	[id] [uniqueidentifier] NOT NULL,
	[topic_id] [uniqueidentifier] NOT NULL,
	[created_by] [uniqueidentifier] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[level] [nvarchar](20) NOT NULL,
	[explanation] [nvarchar](max) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_questions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quiz_answers]    Script Date: 6/9/2026 11:43:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quiz_answers](
	[id] [uniqueidentifier] NOT NULL,
	[session_id] [uniqueidentifier] NOT NULL,
	[question_id] [uniqueidentifier] NOT NULL,
	[selected_option_id] [uniqueidentifier] NULL,
	[is_correct] [bit] NOT NULL,
 CONSTRAINT [PK_quiz_answers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quiz_sessions]    Script Date: 6/9/2026 11:43:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quiz_sessions](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[quiz_set_id] [uniqueidentifier] NOT NULL,
	[score] [smallint] NULL,
	[total_questions] [smallint] NOT NULL,
	[time_taken_seconds] [int] NULL,
	[status] [nvarchar](20) NOT NULL,
	[started_at] [datetime2](7) NOT NULL,
	[ended_at] [datetime2](7) NULL,
 CONSTRAINT [PK_quiz_sessions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quiz_set_questions]    Script Date: 6/9/2026 11:43:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quiz_set_questions](
	[quiz_set_id] [uniqueidentifier] NOT NULL,
	[question_id] [uniqueidentifier] NOT NULL,
	[order_index] [smallint] NOT NULL,
 CONSTRAINT [PK_quiz_set_questions] PRIMARY KEY CLUSTERED 
(
	[quiz_set_id] ASC,
	[question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quiz_sets]    Script Date: 6/9/2026 11:43:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quiz_sets](
	[id] [uniqueidentifier] NOT NULL,
	[created_by] [uniqueidentifier] NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NULL,
	[mode] [nvarchar](20) NOT NULL,
	[time_limit_seconds] [int] NULL,
	[is_public] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[topic_id] [uniqueidentifier] NULL,
	[level] [nvarchar](20) NULL,
 CONSTRAINT [PK_quiz_sets] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[refresh_tokens]    Script Date: 6/9/2026 11:43:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[refresh_tokens](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[token_hash] [nvarchar](255) NOT NULL,
	[expires_at] [datetime2](7) NOT NULL,
	[revoked_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_refresh_tokens] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roadmap_topics]    Script Date: 6/9/2026 11:43:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roadmap_topics](
	[roadmap_id] [uniqueidentifier] NOT NULL,
	[topic_id] [uniqueidentifier] NOT NULL,
	[order_index] [smallint] NOT NULL,
 CONSTRAINT [PK_roadmap_topics] PRIMARY KEY CLUSTERED 
(
	[roadmap_id] ASC,
	[topic_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roadmaps]    Script Date: 6/9/2026 11:43:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roadmaps](
	[id] [uniqueidentifier] NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[level] [nvarchar](20) NOT NULL,
	[description] [nvarchar](max) NULL,
	[order_index] [smallint] NOT NULL,
 CONSTRAINT [PK_roadmaps] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_permissions]    Script Date: 6/9/2026 11:43:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_permissions](
	[role_id] [uniqueidentifier] NOT NULL,
	[permission_id] [uniqueidentifier] NOT NULL,
	[granted_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_role_permissions] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 6/9/2026 11:43:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[submission_test_results]    Script Date: 6/9/2026 11:43:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[submission_test_results](
	[id] [uniqueidentifier] NOT NULL,
	[submission_id] [uniqueidentifier] NOT NULL,
	[test_case_id] [uniqueidentifier] NOT NULL,
	[status] [nvarchar](30) NOT NULL,
	[actual_output] [nvarchar](max) NULL,
	[runtime_ms] [int] NULL,
	[memory_kb] [int] NULL,
 CONSTRAINT [PK_submission_test_results] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[submissions]    Script Date: 6/9/2026 11:43:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[submissions](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[problem_id] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](max) NOT NULL,
	[language] [nvarchar](20) NOT NULL,
	[verdict] [nvarchar](20) NOT NULL,
	[runtime_ms] [int] NULL,
	[memory_kb] [int] NULL,
	[passed_cases] [smallint] NOT NULL,
	[total_cases] [smallint] NOT NULL,
	[submitted_at] [datetime2](7) NOT NULL,
	[stdout] [nvarchar](max) NULL,
	[stderr] [nvarchar](max) NULL,
	[compile_output] [nvarchar](max) NULL,
	[judge0_token] [nvarchar](255) NULL,
	[language_id] [int] NULL,
 CONSTRAINT [PK_submissions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tags]    Script Date: 6/9/2026 11:43:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tags](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[slug] [nvarchar](50) NOT NULL,
	[color_hex] [nchar](7) NOT NULL,
 CONSTRAINT [PK_tags] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[test_cases]    Script Date: 6/9/2026 11:43:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test_cases](
	[id] [uniqueidentifier] NOT NULL,
	[problem_id] [uniqueidentifier] NOT NULL,
	[input] [nvarchar](max) NOT NULL,
	[expected_output] [nvarchar](max) NOT NULL,
	[is_hidden] [bit] NOT NULL,
	[order_index] [smallint] NOT NULL,
 CONSTRAINT [PK_test_cases] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[topics]    Script Date: 6/9/2026 11:43:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[topics](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[slug] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
	[icon] [nvarchar](100) NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_topics] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_permissions]    Script Date: 6/9/2026 11:43:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_permissions](
	[user_id] [uniqueidentifier] NOT NULL,
	[permission_id] [uniqueidentifier] NOT NULL,
	[is_granted] [bit] NOT NULL,
	[granted_at] [datetime2](7) NOT NULL,
	[granted_by] [uniqueidentifier] NULL,
 CONSTRAINT [PK_user_permissions] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 6/9/2026 11:43:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[user_id] [uniqueidentifier] NOT NULL,
	[role_id] [uniqueidentifier] NOT NULL,
	[assigned_at] [datetime2](7) NOT NULL,
	[assigned_by] [uniqueidentifier] NULL,
 CONSTRAINT [PK_user_roles] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_topic_progress]    Script Date: 6/9/2026 11:43:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_topic_progress](
	[user_id] [uniqueidentifier] NOT NULL,
	[topic_id] [uniqueidentifier] NOT NULL,
	[total_attempts] [int] NOT NULL,
	[total_questions] [int] NOT NULL,
	[correct_answers] [int] NOT NULL,
	[best_score] [int] NULL,
	[last_practiced_at] [datetime2](7) NULL,
 CONSTRAINT [PK_user_topic_progress] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[topic_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 6/9/2026 11:43:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [uniqueidentifier] NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](255) NULL,
	[full_name] [nvarchar](100) NULL,
	[avatar_url] [nvarchar](max) NULL,
	[xp_points] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[is_active] [bit] NOT NULL,
	[is_locked] [bit] NOT NULL,
	[locked_reason] [nvarchar](500) NULL,
	[locked_at] [datetime2](7) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[votes]    Script Date: 6/9/2026 11:43:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[votes](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[target_type] [nvarchar](10) NOT NULL,
	[target_id] [uniqueidentifier] NOT NULL,
	[vote_type] [nvarchar](4) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_votes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[xp_transactions]    Script Date: 6/9/2026 11:43:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xp_transactions](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[amount] [int] NOT NULL,
	[reason] [nvarchar](100) NOT NULL,
	[ref_type] [nvarchar](20) NULL,
	[ref_id] [uniqueidentifier] NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_xp_transactions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[audit_logs] ([id], [actor_id], [action], [target_type], [target_id], [detail], [ip_address], [created_at]) VALUES (N'0a57749a-40de-49c9-8398-143764b9ba42', N'd1a832d0-4242-49d5-9f69-f75229d65548', N'auth.login', N'user', N'd1a832d0-4242-49d5-9f69-f75229d65548', NULL, N'::1', CAST(N'2026-06-01T15:45:20.5508807' AS DateTime2))
INSERT [dbo].[audit_logs] ([id], [actor_id], [action], [target_type], [target_id], [detail], [ip_address], [created_at]) VALUES (N'7c5f5c5e-8816-41e5-9f05-9d8c71ffe0ac', N'd1a832d0-4242-49d5-9f69-f75229d65548', N'auth.register', N'user', N'd1a832d0-4242-49d5-9f69-f75229d65548', NULL, N'::1', CAST(N'2026-06-01T15:43:20.7872354' AS DateTime2))
INSERT [dbo].[audit_logs] ([id], [actor_id], [action], [target_type], [target_id], [detail], [ip_address], [created_at]) VALUES (N'4b37cedb-d14b-4c11-9e1c-ac71fb74f86f', N'312c2d7a-ef9e-4690-9a55-658da8278bb9', N'auth.register', N'user', N'312c2d7a-ef9e-4690-9a55-658da8278bb9', NULL, N'::1', CAST(N'2026-06-01T15:42:45.2493839' AS DateTime2))
GO
INSERT [dbo].[permissions] ([id], [name], [description], [module], [created_at]) VALUES (N'3d1d4eb9-7d5d-f111-ae32-7032173aeeb8', N'post:create', N'Tao bai dang', N'post', CAST(N'2026-06-01T05:49:59.6466667' AS DateTime2))
INSERT [dbo].[permissions] ([id], [name], [description], [module], [created_at]) VALUES (N'3e1d4eb9-7d5d-f111-ae32-7032173aeeb8', N'post:edit_own', N'Sua bai dang cua minh', N'post', CAST(N'2026-06-01T05:49:59.6466667' AS DateTime2))
INSERT [dbo].[permissions] ([id], [name], [description], [module], [created_at]) VALUES (N'3f1d4eb9-7d5d-f111-ae32-7032173aeeb8', N'post:edit_any', N'Sua bat ky bai dang', N'post', CAST(N'2026-06-01T05:49:59.6466667' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[programming_languages] ON 

INSERT [dbo].[programming_languages] ([id], [name], [slug], [judge0_language_id], [is_active]) VALUES (1, N'Python 3', N'python', 71, 1)
INSERT [dbo].[programming_languages] ([id], [name], [slug], [judge0_language_id], [is_active]) VALUES (2, N'JavaScript', N'javascript', 63, 1)
INSERT [dbo].[programming_languages] ([id], [name], [slug], [judge0_language_id], [is_active]) VALUES (3, N'Java', N'java', 62, 1)
SET IDENTITY_INSERT [dbo].[programming_languages] OFF
GO
INSERT [dbo].[refresh_tokens] ([id], [user_id], [token_hash], [expires_at], [revoked_at], [created_at]) VALUES (N'94c48ed1-7ae8-46eb-ae31-3e38aa5c7796', N'd1a832d0-4242-49d5-9f69-f75229d65548', N'532708AD18020639C1DCE99D6D5D4E9D7F053014DD545DD8AD8B56A25F0535C4', CAST(N'2026-06-15T15:45:20.5610507' AS DateTime2), NULL, CAST(N'2026-06-01T15:45:20.5610515' AS DateTime2))
INSERT [dbo].[refresh_tokens] ([id], [user_id], [token_hash], [expires_at], [revoked_at], [created_at]) VALUES (N'080c0949-1b84-46e1-94f9-8638e7f0d01b', N'312c2d7a-ef9e-4690-9a55-658da8278bb9', N'F575741653C45D183433FE6440D7B4A7DBCC5CD5C80EAF0A78BB2AE8B7E6F5D1', CAST(N'2026-06-15T15:42:45.5343010' AS DateTime2), NULL, CAST(N'2026-06-01T15:42:45.5344183' AS DateTime2))
INSERT [dbo].[refresh_tokens] ([id], [user_id], [token_hash], [expires_at], [revoked_at], [created_at]) VALUES (N'ca28149c-9385-43ae-8e83-a55e062dea08', N'd1a832d0-4242-49d5-9f69-f75229d65548', N'938B9482DF28EAF49FD6DF88AA8C054AC9F5572AE054EBA82DAF0F7A137A2AB5', CAST(N'2026-06-15T15:43:20.8012654' AS DateTime2), NULL, CAST(N'2026-06-01T15:43:20.8012664' AS DateTime2))
GO
INSERT [dbo].[role_permissions] ([role_id], [permission_id], [granted_at]) VALUES (N'3a1d4eb9-7d5d-f111-ae32-7032173aeeb8', N'3d1d4eb9-7d5d-f111-ae32-7032173aeeb8', CAST(N'2026-06-01T05:49:59.6600000' AS DateTime2))
INSERT [dbo].[role_permissions] ([role_id], [permission_id], [granted_at]) VALUES (N'3a1d4eb9-7d5d-f111-ae32-7032173aeeb8', N'3e1d4eb9-7d5d-f111-ae32-7032173aeeb8', CAST(N'2026-06-01T05:49:59.6600000' AS DateTime2))
INSERT [dbo].[role_permissions] ([role_id], [permission_id], [granted_at]) VALUES (N'3a1d4eb9-7d5d-f111-ae32-7032173aeeb8', N'3f1d4eb9-7d5d-f111-ae32-7032173aeeb8', CAST(N'2026-06-01T05:49:59.6600000' AS DateTime2))
GO
INSERT [dbo].[roles] ([id], [name], [description], [is_active], [created_at], [updated_at]) VALUES (N'3a1d4eb9-7d5d-f111-ae32-7032173aeeb8', N'Admin', N'Quan tri vien he thong, toan quyen', 1, CAST(N'2026-06-01T05:49:59.6400000' AS DateTime2), CAST(N'2026-06-07T15:40:53.7200045' AS DateTime2))
INSERT [dbo].[roles] ([id], [name], [description], [is_active], [created_at], [updated_at]) VALUES (N'3b1d4eb9-7d5d-f111-ae32-7032173aeeb8', N'Moderator', N'Kiem duyet noi dung', 1, CAST(N'2026-06-01T05:49:59.6400000' AS DateTime2), CAST(N'2026-06-07T15:40:53.7211489' AS DateTime2))
INSERT [dbo].[roles] ([id], [name], [description], [is_active], [created_at], [updated_at]) VALUES (N'3c1d4eb9-7d5d-f111-ae32-7032173aeeb8', N'User', N'Nguoi dung thuong', 1, CAST(N'2026-06-01T05:49:59.6400000' AS DateTime2), CAST(N'2026-06-07T15:40:53.7211489' AS DateTime2))
GO
INSERT [dbo].[user_roles] ([user_id], [role_id], [assigned_at], [assigned_by]) VALUES (N'312c2d7a-ef9e-4690-9a55-658da8278bb9', N'3c1d4eb9-7d5d-f111-ae32-7032173aeeb8', CAST(N'2026-06-05T06:17:31.3433333' AS DateTime2), NULL)
INSERT [dbo].[user_roles] ([user_id], [role_id], [assigned_at], [assigned_by]) VALUES (N'd1a832d0-4242-49d5-9f69-f75229d65548', N'3c1d4eb9-7d5d-f111-ae32-7032173aeeb8', CAST(N'2026-06-05T06:17:31.3433333' AS DateTime2), NULL)
GO
INSERT [dbo].[users] ([id], [username], [email], [password_hash], [full_name], [avatar_url], [xp_points], [created_at], [updated_at], [is_active], [is_locked], [locked_reason], [locked_at]) VALUES (N'312c2d7a-ef9e-4690-9a55-658da8278bb9', N'string', N'user@example.com', N'AQAAAAIAAYagAAAAEMKlHDUnUko5UQVmkgqIxmt+Iexf1NLY5REI0Pfr+U+/kD+HRSy7rtGkM9STcvHE7Q==', N'string', NULL, 0, CAST(N'2026-06-01T15:42:44.7557851' AS DateTime2), CAST(N'2026-06-01T15:42:44.7557851' AS DateTime2), 1, 0, NULL, NULL)
INSERT [dbo].[users] ([id], [username], [email], [password_hash], [full_name], [avatar_url], [xp_points], [created_at], [updated_at], [is_active], [is_locked], [locked_reason], [locked_at]) VALUES (N'd1a832d0-4242-49d5-9f69-f75229d65548', N'HoaiNam', N'namtqn2@gmail.com', N'AQAAAAIAAYagAAAAEJ7n0CRT6At/V9IwPKFREp1v+gTodxzglc9CXMKAc+CWUptaipo0AS09y2LlQobQZA==', N'Nguyễn Hoài Nam', NULL, 0, CAST(N'2026-06-01T15:43:20.6416368' AS DateTime2), CAST(N'2026-06-01T15:46:01.4504754' AS DateTime2), 1, 0, NULL, NULL)
GO
/****** Object:  Index [idx_audit_logs_actor]    Script Date: 6/9/2026 11:43:07 AM ******/
CREATE NONCLUSTERED INDEX [idx_audit_logs_actor] ON [dbo].[audit_logs]
(
	[actor_id] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_audit_logs_target]    Script Date: 6/9/2026 11:43:07 AM ******/
CREATE NONCLUSTERED INDEX [idx_audit_logs_target] ON [dbo].[audit_logs]
(
	[target_type] ASC,
	[target_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_comments_author]    Script Date: 6/9/2026 11:43:07 AM ******/
CREATE NONCLUSTERED INDEX [idx_comments_author] ON [dbo].[comments]
(
	[author_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_comments_post]    Script Date: 6/9/2026 11:43:07 AM ******/
CREATE NONCLUSTERED INDEX [idx_comments_post] ON [dbo].[comments]
(
	[post_id] ASC,
	[parent_id] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_notif_user_unread]    Script Date: 6/9/2026 11:43:07 AM ******/
CREATE NONCLUSTERED INDEX [idx_notif_user_unread] ON [dbo].[notifications]
(
	[user_id] ASC,
	[is_read] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_permissions_name]    Script Date: 6/9/2026 11:43:07 AM ******/
ALTER TABLE [dbo].[permissions] ADD  CONSTRAINT [UQ_permissions_name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_permissions_module]    Script Date: 6/9/2026 11:43:07 AM ******/
CREATE NONCLUSTERED INDEX [idx_permissions_module] ON [dbo].[permissions]
(
	[module] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_posts_author]    Script Date: 6/9/2026 11:43:07 AM ******/
CREATE NONCLUSTERED INDEX [idx_posts_author] ON [dbo].[posts]
(
	[author_id] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_posts_public_feed]    Script Date: 6/9/2026 11:43:07 AM ******/
CREATE NONCLUSTERED INDEX [idx_posts_public_feed] ON [dbo].[posts]
(
	[is_hidden] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_problems_topic_diff]    Script Date: 6/9/2026 11:43:07 AM ******/
CREATE NONCLUSTERED INDEX [idx_problems_topic_diff] ON [dbo].[problems]
(
	[topic_id] ASC,
	[difficulty] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_programming_languages_slug]    Script Date: 6/9/2026 11:43:07 AM ******/
ALTER TABLE [dbo].[programming_languages] ADD  CONSTRAINT [UQ_programming_languages_slug] UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_questions_topic_level]    Script Date: 6/9/2026 11:43:07 AM ******/
CREATE NONCLUSTERED INDEX [idx_questions_topic_level] ON [dbo].[questions]
(
	[topic_id] ASC,
	[level] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_quiz_answers_session]    Script Date: 6/9/2026 11:43:07 AM ******/
CREATE NONCLUSTERED INDEX [idx_quiz_answers_session] ON [dbo].[quiz_answers]
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_sessions_user_status]    Script Date: 6/9/2026 11:43:07 AM ******/
CREATE NONCLUSTERED INDEX [idx_sessions_user_status] ON [dbo].[quiz_sessions]
(
	[user_id] ASC,
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_refresh_tokens_hash]    Script Date: 6/9/2026 11:43:07 AM ******/
CREATE NONCLUSTERED INDEX [idx_refresh_tokens_hash] ON [dbo].[refresh_tokens]
(
	[token_hash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_refresh_tokens_user]    Script Date: 6/9/2026 11:43:07 AM ******/
CREATE NONCLUSTERED INDEX [idx_refresh_tokens_user] ON [dbo].[refresh_tokens]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_roles_name]    Script Date: 6/9/2026 11:43:07 AM ******/
ALTER TABLE [dbo].[roles] ADD  CONSTRAINT [UQ_roles_name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_str_submission]    Script Date: 6/9/2026 11:43:07 AM ******/
CREATE NONCLUSTERED INDEX [idx_str_submission] ON [dbo].[submission_test_results]
(
	[submission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_submissions_recent]    Script Date: 6/9/2026 11:43:07 AM ******/
CREATE NONCLUSTERED INDEX [idx_submissions_recent] ON [dbo].[submissions]
(
	[user_id] ASC,
	[submitted_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_submissions_user_problem]    Script Date: 6/9/2026 11:43:07 AM ******/
CREATE NONCLUSTERED INDEX [idx_submissions_user_problem] ON [dbo].[submissions]
(
	[user_id] ASC,
	[problem_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_tags_name]    Script Date: 6/9/2026 11:43:07 AM ******/
ALTER TABLE [dbo].[tags] ADD  CONSTRAINT [UQ_tags_name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_tags_slug]    Script Date: 6/9/2026 11:43:07 AM ******/
ALTER TABLE [dbo].[tags] ADD  CONSTRAINT [UQ_tags_slug] UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_topics_name]    Script Date: 6/9/2026 11:43:07 AM ******/
ALTER TABLE [dbo].[topics] ADD  CONSTRAINT [UQ_topics_name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_topics_slug]    Script Date: 6/9/2026 11:43:07 AM ******/
ALTER TABLE [dbo].[topics] ADD  CONSTRAINT [UQ_topics_slug] UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_user_roles_role_id]    Script Date: 6/9/2026 11:43:07 AM ******/
CREATE NONCLUSTERED INDEX [idx_user_roles_role_id] ON [dbo].[user_roles]
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_users_email]    Script Date: 6/9/2026 11:43:07 AM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UQ_users_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_users_username]    Script Date: 6/9/2026 11:43:07 AM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UQ_users_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_votes_unique]    Script Date: 6/9/2026 11:43:07 AM ******/
ALTER TABLE [dbo].[votes] ADD  CONSTRAINT [UQ_votes_unique] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[target_type] ASC,
	[target_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_xp_user_recent]    Script Date: 6/9/2026 11:43:07 AM ******/
CREATE NONCLUSTERED INDEX [idx_xp_user_recent] ON [dbo].[xp_transactions]
(
	[user_id] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[audit_logs] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[audit_logs] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[comments] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[comments] ADD  DEFAULT ((0)) FOR [upvotes]
GO
ALTER TABLE [dbo].[comments] ADD  DEFAULT ((0)) FOR [downvotes]
GO
ALTER TABLE [dbo].[comments] ADD  DEFAULT ((0)) FOR [is_accepted]
GO
ALTER TABLE [dbo].[comments] ADD  DEFAULT ((0)) FOR [is_hidden]
GO
ALTER TABLE [dbo].[comments] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[comments] ADD  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[moderation_logs] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[moderation_logs] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[permissions] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[permissions] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[posts] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[posts] ADD  DEFAULT ((0)) FOR [upvotes]
GO
ALTER TABLE [dbo].[posts] ADD  DEFAULT ((0)) FOR [downvotes]
GO
ALTER TABLE [dbo].[posts] ADD  DEFAULT ((0)) FOR [view_count]
GO
ALTER TABLE [dbo].[posts] ADD  DEFAULT ((0)) FOR [is_hidden]
GO
ALTER TABLE [dbo].[posts] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[posts] ADD  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[problems] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[problems] ADD  DEFAULT ('easy') FOR [difficulty]
GO
ALTER TABLE [dbo].[problems] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[problems] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[programming_languages] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[question_options] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[question_options] ADD  DEFAULT ((0)) FOR [is_correct]
GO
ALTER TABLE [dbo].[question_options] ADD  DEFAULT ((0)) FOR [order_index]
GO
ALTER TABLE [dbo].[questions] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[questions] ADD  DEFAULT ('beginner') FOR [level]
GO
ALTER TABLE [dbo].[questions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[questions] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[quiz_answers] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[quiz_answers] ADD  DEFAULT ((0)) FOR [is_correct]
GO
ALTER TABLE [dbo].[quiz_sessions] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[quiz_sessions] ADD  DEFAULT ((0)) FOR [total_questions]
GO
ALTER TABLE [dbo].[quiz_sessions] ADD  DEFAULT ('in_progress') FOR [status]
GO
ALTER TABLE [dbo].[quiz_sessions] ADD  DEFAULT (getutcdate()) FOR [started_at]
GO
ALTER TABLE [dbo].[quiz_set_questions] ADD  DEFAULT ((0)) FOR [order_index]
GO
ALTER TABLE [dbo].[quiz_sets] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[quiz_sets] ADD  DEFAULT ('practice') FOR [mode]
GO
ALTER TABLE [dbo].[quiz_sets] ADD  DEFAULT ((1)) FOR [is_public]
GO
ALTER TABLE [dbo].[quiz_sets] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[refresh_tokens] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[refresh_tokens] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[roadmap_topics] ADD  DEFAULT ((0)) FOR [order_index]
GO
ALTER TABLE [dbo].[roadmaps] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[roadmaps] ADD  DEFAULT ((0)) FOR [order_index]
GO
ALTER TABLE [dbo].[role_permissions] ADD  DEFAULT (getutcdate()) FOR [granted_at]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[submission_test_results] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[submissions] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[submissions] ADD  DEFAULT ('pending') FOR [verdict]
GO
ALTER TABLE [dbo].[submissions] ADD  DEFAULT ((0)) FOR [passed_cases]
GO
ALTER TABLE [dbo].[submissions] ADD  DEFAULT ((0)) FOR [total_cases]
GO
ALTER TABLE [dbo].[submissions] ADD  DEFAULT (getutcdate()) FOR [submitted_at]
GO
ALTER TABLE [dbo].[tags] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[tags] ADD  DEFAULT ('#6366f1') FOR [color_hex]
GO
ALTER TABLE [dbo].[test_cases] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[test_cases] ADD  DEFAULT ((0)) FOR [is_hidden]
GO
ALTER TABLE [dbo].[test_cases] ADD  DEFAULT ((0)) FOR [order_index]
GO
ALTER TABLE [dbo].[topics] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[topics] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[user_permissions] ADD  DEFAULT ((1)) FOR [is_granted]
GO
ALTER TABLE [dbo].[user_permissions] ADD  DEFAULT (getutcdate()) FOR [granted_at]
GO
ALTER TABLE [dbo].[user_roles] ADD  DEFAULT (getutcdate()) FOR [assigned_at]
GO
ALTER TABLE [dbo].[user_topic_progress] ADD  DEFAULT ((0)) FOR [total_attempts]
GO
ALTER TABLE [dbo].[user_topic_progress] ADD  DEFAULT ((0)) FOR [total_questions]
GO
ALTER TABLE [dbo].[user_topic_progress] ADD  DEFAULT ((0)) FOR [correct_answers]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [xp_points]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_locked]
GO
ALTER TABLE [dbo].[votes] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[votes] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[xp_transactions] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[xp_transactions] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[audit_logs]  WITH CHECK ADD  CONSTRAINT [FK_audit_logs_actor] FOREIGN KEY([actor_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[audit_logs] CHECK CONSTRAINT [FK_audit_logs_actor]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK_comments_author] FOREIGN KEY([author_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK_comments_author]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK_comments_parent] FOREIGN KEY([parent_id])
REFERENCES [dbo].[comments] ([id])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK_comments_parent]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK_comments_post] FOREIGN KEY([post_id])
REFERENCES [dbo].[posts] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK_comments_post]
GO
ALTER TABLE [dbo].[moderation_logs]  WITH CHECK ADD  CONSTRAINT [FK_moderation_logs_moderator] FOREIGN KEY([moderator_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[moderation_logs] CHECK CONSTRAINT [FK_moderation_logs_moderator]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [FK_notifications_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [FK_notifications_user]
GO
ALTER TABLE [dbo].[post_tags]  WITH CHECK ADD  CONSTRAINT [FK_post_tags_post] FOREIGN KEY([post_id])
REFERENCES [dbo].[posts] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[post_tags] CHECK CONSTRAINT [FK_post_tags_post]
GO
ALTER TABLE [dbo].[post_tags]  WITH CHECK ADD  CONSTRAINT [FK_post_tags_tag] FOREIGN KEY([tag_id])
REFERENCES [dbo].[tags] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[post_tags] CHECK CONSTRAINT [FK_post_tags_tag]
GO
ALTER TABLE [dbo].[posts]  WITH CHECK ADD  CONSTRAINT [FK_posts_accepted_comment] FOREIGN KEY([accepted_comment_id])
REFERENCES [dbo].[comments] ([id])
GO
ALTER TABLE [dbo].[posts] CHECK CONSTRAINT [FK_posts_accepted_comment]
GO
ALTER TABLE [dbo].[posts]  WITH CHECK ADD  CONSTRAINT [FK_posts_author] FOREIGN KEY([author_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[posts] CHECK CONSTRAINT [FK_posts_author]
GO
ALTER TABLE [dbo].[problem_tags]  WITH CHECK ADD  CONSTRAINT [FK_problem_tags_problem] FOREIGN KEY([problem_id])
REFERENCES [dbo].[problems] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[problem_tags] CHECK CONSTRAINT [FK_problem_tags_problem]
GO
ALTER TABLE [dbo].[problem_tags]  WITH CHECK ADD  CONSTRAINT [FK_problem_tags_tag] FOREIGN KEY([tag_id])
REFERENCES [dbo].[tags] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[problem_tags] CHECK CONSTRAINT [FK_problem_tags_tag]
GO
ALTER TABLE [dbo].[problems]  WITH CHECK ADD  CONSTRAINT [FK_problems_topic] FOREIGN KEY([topic_id])
REFERENCES [dbo].[topics] ([id])
GO
ALTER TABLE [dbo].[problems] CHECK CONSTRAINT [FK_problems_topic]
GO
ALTER TABLE [dbo].[problems]  WITH CHECK ADD  CONSTRAINT [FK_problems_user] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[problems] CHECK CONSTRAINT [FK_problems_user]
GO
ALTER TABLE [dbo].[question_options]  WITH CHECK ADD  CONSTRAINT [FK_question_options_question] FOREIGN KEY([question_id])
REFERENCES [dbo].[questions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[question_options] CHECK CONSTRAINT [FK_question_options_question]
GO
ALTER TABLE [dbo].[questions]  WITH CHECK ADD  CONSTRAINT [FK_questions_topic] FOREIGN KEY([topic_id])
REFERENCES [dbo].[topics] ([id])
GO
ALTER TABLE [dbo].[questions] CHECK CONSTRAINT [FK_questions_topic]
GO
ALTER TABLE [dbo].[questions]  WITH CHECK ADD  CONSTRAINT [FK_questions_user] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[questions] CHECK CONSTRAINT [FK_questions_user]
GO
ALTER TABLE [dbo].[quiz_answers]  WITH CHECK ADD  CONSTRAINT [FK_quiz_answers_option] FOREIGN KEY([selected_option_id])
REFERENCES [dbo].[question_options] ([id])
GO
ALTER TABLE [dbo].[quiz_answers] CHECK CONSTRAINT [FK_quiz_answers_option]
GO
ALTER TABLE [dbo].[quiz_answers]  WITH CHECK ADD  CONSTRAINT [FK_quiz_answers_question] FOREIGN KEY([question_id])
REFERENCES [dbo].[questions] ([id])
GO
ALTER TABLE [dbo].[quiz_answers] CHECK CONSTRAINT [FK_quiz_answers_question]
GO
ALTER TABLE [dbo].[quiz_answers]  WITH CHECK ADD  CONSTRAINT [FK_quiz_answers_session] FOREIGN KEY([session_id])
REFERENCES [dbo].[quiz_sessions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[quiz_answers] CHECK CONSTRAINT [FK_quiz_answers_session]
GO
ALTER TABLE [dbo].[quiz_sessions]  WITH CHECK ADD  CONSTRAINT [FK_quiz_sessions_quiz_set] FOREIGN KEY([quiz_set_id])
REFERENCES [dbo].[quiz_sets] ([id])
GO
ALTER TABLE [dbo].[quiz_sessions] CHECK CONSTRAINT [FK_quiz_sessions_quiz_set]
GO
ALTER TABLE [dbo].[quiz_sessions]  WITH CHECK ADD  CONSTRAINT [FK_quiz_sessions_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[quiz_sessions] CHECK CONSTRAINT [FK_quiz_sessions_user]
GO
ALTER TABLE [dbo].[quiz_set_questions]  WITH CHECK ADD  CONSTRAINT [FK_qsq_question] FOREIGN KEY([question_id])
REFERENCES [dbo].[questions] ([id])
GO
ALTER TABLE [dbo].[quiz_set_questions] CHECK CONSTRAINT [FK_qsq_question]
GO
ALTER TABLE [dbo].[quiz_set_questions]  WITH CHECK ADD  CONSTRAINT [FK_qsq_quiz_set] FOREIGN KEY([quiz_set_id])
REFERENCES [dbo].[quiz_sets] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[quiz_set_questions] CHECK CONSTRAINT [FK_qsq_quiz_set]
GO
ALTER TABLE [dbo].[quiz_sets]  WITH CHECK ADD  CONSTRAINT [FK_quiz_sets_topic] FOREIGN KEY([topic_id])
REFERENCES [dbo].[topics] ([id])
GO
ALTER TABLE [dbo].[quiz_sets] CHECK CONSTRAINT [FK_quiz_sets_topic]
GO
ALTER TABLE [dbo].[quiz_sets]  WITH CHECK ADD  CONSTRAINT [FK_quiz_sets_user] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[quiz_sets] CHECK CONSTRAINT [FK_quiz_sets_user]
GO
ALTER TABLE [dbo].[refresh_tokens]  WITH CHECK ADD  CONSTRAINT [FK_refresh_tokens_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[refresh_tokens] CHECK CONSTRAINT [FK_refresh_tokens_user]
GO
ALTER TABLE [dbo].[roadmap_topics]  WITH CHECK ADD  CONSTRAINT [FK_roadmap_topics_roadmap] FOREIGN KEY([roadmap_id])
REFERENCES [dbo].[roadmaps] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[roadmap_topics] CHECK CONSTRAINT [FK_roadmap_topics_roadmap]
GO
ALTER TABLE [dbo].[roadmap_topics]  WITH CHECK ADD  CONSTRAINT [FK_roadmap_topics_topic] FOREIGN KEY([topic_id])
REFERENCES [dbo].[topics] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[roadmap_topics] CHECK CONSTRAINT [FK_roadmap_topics_topic]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_permissions_permission] FOREIGN KEY([permission_id])
REFERENCES [dbo].[permissions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_role_permissions_permission]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_permissions_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_role_permissions_role]
GO
ALTER TABLE [dbo].[submission_test_results]  WITH CHECK ADD  CONSTRAINT [FK_str_submission] FOREIGN KEY([submission_id])
REFERENCES [dbo].[submissions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[submission_test_results] CHECK CONSTRAINT [FK_str_submission]
GO
ALTER TABLE [dbo].[submission_test_results]  WITH CHECK ADD  CONSTRAINT [FK_str_test_case] FOREIGN KEY([test_case_id])
REFERENCES [dbo].[test_cases] ([id])
GO
ALTER TABLE [dbo].[submission_test_results] CHECK CONSTRAINT [FK_str_test_case]
GO
ALTER TABLE [dbo].[submissions]  WITH CHECK ADD  CONSTRAINT [FK_submissions_lang] FOREIGN KEY([language_id])
REFERENCES [dbo].[programming_languages] ([id])
GO
ALTER TABLE [dbo].[submissions] CHECK CONSTRAINT [FK_submissions_lang]
GO
ALTER TABLE [dbo].[submissions]  WITH CHECK ADD  CONSTRAINT [FK_submissions_problem] FOREIGN KEY([problem_id])
REFERENCES [dbo].[problems] ([id])
GO
ALTER TABLE [dbo].[submissions] CHECK CONSTRAINT [FK_submissions_problem]
GO
ALTER TABLE [dbo].[submissions]  WITH CHECK ADD  CONSTRAINT [FK_submissions_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[submissions] CHECK CONSTRAINT [FK_submissions_user]
GO
ALTER TABLE [dbo].[test_cases]  WITH CHECK ADD  CONSTRAINT [FK_test_cases_problem] FOREIGN KEY([problem_id])
REFERENCES [dbo].[problems] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[test_cases] CHECK CONSTRAINT [FK_test_cases_problem]
GO
ALTER TABLE [dbo].[user_permissions]  WITH CHECK ADD  CONSTRAINT [FK_user_permissions_granted_by] FOREIGN KEY([granted_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_permissions] CHECK CONSTRAINT [FK_user_permissions_granted_by]
GO
ALTER TABLE [dbo].[user_permissions]  WITH CHECK ADD  CONSTRAINT [FK_user_permissions_permission] FOREIGN KEY([permission_id])
REFERENCES [dbo].[permissions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_permissions] CHECK CONSTRAINT [FK_user_permissions_permission]
GO
ALTER TABLE [dbo].[user_permissions]  WITH CHECK ADD  CONSTRAINT [FK_user_permissions_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_permissions] CHECK CONSTRAINT [FK_user_permissions_user]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_assigned_by] FOREIGN KEY([assigned_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_roles_assigned_by]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_roles_role]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_roles_user]
GO
ALTER TABLE [dbo].[user_topic_progress]  WITH CHECK ADD  CONSTRAINT [FK_utp_topic] FOREIGN KEY([topic_id])
REFERENCES [dbo].[topics] ([id])
GO
ALTER TABLE [dbo].[user_topic_progress] CHECK CONSTRAINT [FK_utp_topic]
GO
ALTER TABLE [dbo].[user_topic_progress]  WITH CHECK ADD  CONSTRAINT [FK_utp_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_topic_progress] CHECK CONSTRAINT [FK_utp_user]
GO
ALTER TABLE [dbo].[votes]  WITH CHECK ADD  CONSTRAINT [FK_votes_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[votes] CHECK CONSTRAINT [FK_votes_user]
GO
ALTER TABLE [dbo].[xp_transactions]  WITH CHECK ADD  CONSTRAINT [FK_xp_transactions_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[xp_transactions] CHECK CONSTRAINT [FK_xp_transactions_user]
GO
ALTER TABLE [dbo].[moderation_logs]  WITH CHECK ADD  CONSTRAINT [CK_moderation_logs_action] CHECK  (([action]='hide' OR [action]='delete' OR [action]='restore'))
GO
ALTER TABLE [dbo].[moderation_logs] CHECK CONSTRAINT [CK_moderation_logs_action]
GO
ALTER TABLE [dbo].[moderation_logs]  WITH CHECK ADD  CONSTRAINT [CK_moderation_logs_target] CHECK  (([target_type]='post' OR [target_type]='comment'))
GO
ALTER TABLE [dbo].[moderation_logs] CHECK CONSTRAINT [CK_moderation_logs_target]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [CK_notifications_type] CHECK  (([type]='comment' OR [type]='vote' OR [type]='accept' OR [type]='system'))
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [CK_notifications_type]
GO
ALTER TABLE [dbo].[problems]  WITH CHECK ADD  CONSTRAINT [CK_problems_difficulty] CHECK  (([difficulty]='hard' OR [difficulty]='medium' OR [difficulty]='easy'))
GO
ALTER TABLE [dbo].[problems] CHECK CONSTRAINT [CK_problems_difficulty]
GO
ALTER TABLE [dbo].[questions]  WITH CHECK ADD  CONSTRAINT [CK_questions_level] CHECK  (([level]='advanced' OR [level]='intermediate' OR [level]='beginner'))
GO
ALTER TABLE [dbo].[questions] CHECK CONSTRAINT [CK_questions_level]
GO
ALTER TABLE [dbo].[quiz_sessions]  WITH CHECK ADD  CONSTRAINT [CK_quiz_sessions_status] CHECK  (([status]='completed' OR [status]='in_progress'))
GO
ALTER TABLE [dbo].[quiz_sessions] CHECK CONSTRAINT [CK_quiz_sessions_status]
GO
ALTER TABLE [dbo].[quiz_sets]  WITH CHECK ADD  CONSTRAINT [CK_quiz_sets_level] CHECK  (([level] IS NULL OR ([level]='advanced' OR [level]='intermediate' OR [level]='beginner')))
GO
ALTER TABLE [dbo].[quiz_sets] CHECK CONSTRAINT [CK_quiz_sets_level]
GO
ALTER TABLE [dbo].[quiz_sets]  WITH CHECK ADD  CONSTRAINT [CK_quiz_sets_mode] CHECK  (([mode]='mock_exam' OR [mode]='practice'))
GO
ALTER TABLE [dbo].[quiz_sets] CHECK CONSTRAINT [CK_quiz_sets_mode]
GO
ALTER TABLE [dbo].[roadmaps]  WITH CHECK ADD  CONSTRAINT [CK_roadmaps_level] CHECK  (([level]='advanced' OR [level]='intermediate' OR [level]='beginner'))
GO
ALTER TABLE [dbo].[roadmaps] CHECK CONSTRAINT [CK_roadmaps_level]
GO
ALTER TABLE [dbo].[submissions]  WITH CHECK ADD  CONSTRAINT [CK_submissions_language] CHECK  (([language]='typescript' OR [language]='cpp' OR [language]='c' OR [language]='java' OR [language]='javascript' OR [language]='python'))
GO
ALTER TABLE [dbo].[submissions] CHECK CONSTRAINT [CK_submissions_language]
GO
ALTER TABLE [dbo].[submissions]  WITH CHECK ADD  CONSTRAINT [CK_submissions_verdict] CHECK  (([verdict]='accepted' OR [verdict]='wrong_answer' OR [verdict]='time_limit' OR [verdict]='runtime_error' OR [verdict]='compile_error' OR [verdict]='pending'))
GO
ALTER TABLE [dbo].[submissions] CHECK CONSTRAINT [CK_submissions_verdict]
GO
ALTER TABLE [dbo].[votes]  WITH CHECK ADD  CONSTRAINT [CK_votes_target] CHECK  (([target_type]='comment' OR [target_type]='post'))
GO
ALTER TABLE [dbo].[votes] CHECK CONSTRAINT [CK_votes_target]
GO
ALTER TABLE [dbo].[votes]  WITH CHECK ADD  CONSTRAINT [CK_votes_type] CHECK  (([vote_type]='down' OR [vote_type]='up'))
GO
ALTER TABLE [dbo].[votes] CHECK CONSTRAINT [CK_votes_type]
GO
/****** Object:  Trigger [dbo].[trg_auto_assign_user_role]    Script Date: 6/9/2026 11:43:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_auto_assign_user_role]
ON [dbo].[users]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO [dbo].[user_roles] (user_id, role_id)
    SELECT i.id, r.id
    FROM inserted i
    CROSS JOIN [dbo].[roles] r
    WHERE r.name = 'user'
END
GO
ALTER TABLE [dbo].[users] ENABLE TRIGGER [trg_auto_assign_user_role]
GO
USE [master]
GO
