# Chặn các file cấu hình ẩn của Visual Studio (VS)
.vs/
*.suo
*.user
*.sln.docstates
*.sqlite

# Chặn thư mục build và cache của .NET API (Backend)
**/bin/
**/obj/
[Dd]ebug/
[Rr]elease/
*.userprefs
*.ide/

# Chặn các thư mục node_modules và build của Angular/Node (Frontend)
node_modules/
.angular/
dist/
tmp/
.sass-cache/

# Chặn log hệ thống và file môi trường ẩn
*.log
.env
.env.*