# Chặn rác của Visual Studio và VS Code
.vs/
.vscode/
*.suo
*.user
*.slnx.sqlite

# Chặn rác biên dịch của Back-End .NET
bin/
obj/

# Chặn rác biên dịch của Front-End Angular
.angular/
node_modules/
dist/