ADMIN_URL=http://localhost:4300
USER_URL=http://localhost:4200
API_URL=https://10w62wl2-7073.asse.devtunnels.ms

ADMIN_USERNAME=changeme
ADMIN_PASSWORD=changeme

USER_USERNAME=changeme
USER_PASSWORD=changeme
